<!DOCTYPE html>
<html>
  <head>
    <title>Tripletriade</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div class="content">
			<%= render 'shared/navbar' %>

		
			<div class="welcome welcome-top">
				<div class="container">
				<% flash.each do |key, msg| %>
					<%= content_tag :p, msg, class: "alert alert-#{key}" %>
					<% end %>
						<div class="row">
						<%= yield %>
					</div>
				</div>
			</div>

		</div>
	</body>
	</html>